{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "only-multiline",
                "exports": "only-multiline",
                "functions": "ignore",
                "imports": "only-multiline",
                "objects": "only-multiline"
            }
        ],
        "global-require": 0,
        "import/no-dynamic-require": 0,
        "import/prefer-default-export": 0,
        "max-len": [
            1,
            120,
            2,
            {
                "ignoreComments": true
            }
        ],
        "no-confusing-arrow": 0,
        "no-console": 0,
        "no-underscore-dangle": 0,
        "no-unused-vars": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": 0,
        "react/prop-types": 0,
        "semi": [
            "error",
            "never"
        ]
    }
}
